@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    color: #333;
    outline: none;
}

html, body{
    width: 100%;
    height: 100vh;
}

a{
    text-decoration: none;
}

button{
    border: none;
}

input[type="file"]{
    display: none;
}

.focus{
    box-shadow: 0 0 2px 1px #7e92da70 !important;
    border: 1px solid #6e88e8 !important;
}

.err{
    box-shadow: 0 0 2px 1px rgb(255 140 140) !important;
    border: 1px solid #ff3838 !important;
}

.err > svg > path{
    color: #ff4343 !important;
}

.err > input::placeholder{
    color: rgb(255, 83, 83);
}